html, body{
    margin: 0px;
    font-family: 'Noto Serif TC', serif;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}

li{
    list-style: none;
}

strong{
    font-size: 23px;
}

#logo{
    font-size: 1.2em;
}

.be-red{
    background-color: rgb(200,50,50);
}

.no-list{
    margin: 0;
}

.white{
    color: white;
}

.large-padding{
    padding: 10px 7px;
}

.no-margin{
    margin: 0px;
}

.field{
    margin-top: 1em;
}

.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0;
    font-size: 1.2em;
}

.btn{
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px; 
}

.top-space{
    margin-top: 1em;
}

.text-left{
    text-align: center;
}

.field, .top-space, .actions{
    margin-top: 1em;
}

.size{
    font-size: 19px;
}

.relative{
    position: relative;
}
 
.absolute{
    position: absolute;
}

.article-height{
   height: 150px;
}
 
.background-cover{
    background-position: center;
    background-size: cover;
}

.text-center{
    text-align: center;
}

.bottom-space{
    margin-top: 2em;
}

.be-big{
    font-size: 2em;
}

.blue{
    color: #66CCFF !important;
}

.text-right{
    text-align: right;
}

.be-small{
    font-size: 13.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.underline{
    text-decoration: underline;
}

.text-justify{
    text-align: justify;
    border: 2px solid #263238;
    box-shadow: 6px 6px 15px #263238;
    padding: 15px;
    border-radius: 7px; 
}

.config-comment{
    text-align: justify;
    border: 2px solid #263238;
    padding: 15px;
    border-radius: 7px;
}

.grey{
    color: #616161;
}

.session-conf{
    background: #455a64;
    border: 2px solid #263238; 
    border-radius: 6px;
    padding: 4px;
    box-shadow: 4px 4px 10px #263238;
}

.red{
    color: red;
}

